<div class="container">
    
    <div class="left-side">
        <img src="../../../assets/text.svg" alt="">
    </div>
    <div class="middle">
        <div class="head">
            <div class="up">
                <div>Build</div> <div style="color: #A01246;">  Smart</div>
            </div>
            <div class="down">
                <div>Build</div> <div style="color: #C0966B;">  Fast</div>
            </div>
        </div>
        <div class="title">
            Welcome to Engineering Word Art 
            The best products at competitive prices.
        </div>
        <div class="pay">
            <button mat-raised-button>Pay Now</button>
        </div>
    </div>

    <div class="main-img">
        <img src="../../../assets/home-page.svg" alt="">
    </div>
</div>